<head>
    <script src="/js/recipes-single.js"></script>
</head>

<div id="single-recipe-body">
    {{>header-home}}
    <main>
        <div id="wrapper">
            <div id="recipe-header">
                <span id="title">{{ recipe.name }}</span>
                <span id="rating">[rating placeholder]</span>
            </div>
            <div id="recipe-body">
                <div id="left">
                    <span>Ingredienser</span>
                    <ul>
                        {{#each recipe.ingredients}}
                        <li>
                            <span>{{ ingredient }}</span>
                            <span>{{ amount }}{{ unit }}</span>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div id="middle">
                    <div id="middle-left">
                        <span>Instruktioner</span>
                        <textarea disabled>{{ recipe.description }}</textarea>
                    </div>
                    <div id="middle-seperator"></div>
                    <div id="middle-right">
                        <span>Kategorier</span>
                        <ul>
                            {{#each categories}}
                            <li>{{ this }}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div id="right">
                    <a href="{{#if chef}}/users/{{ chef._id }}{{else}}/{{/if}}">
                        <div id="chef-img-wrapper">
                            <img
                                src="https://cdn1.iconfinder.com/data/icons/people-job/100/Job-plus-35-512.png"
                            />
                        </div>
                    </a>
                    <span id="chef-name"
                        >{{#if chef}}{{ chef.username }}{{else}} Missing User{{/if}}</span
                    >
                </div>
            </div>
            {{#if loggedIn}}
            <div id="recipe-footer">
                <form action="#" method="post">
                    <input
                        type="submit"
                        value="Redigera"
                        formaction="/recipes/{{ recipe._id }}/edit"
                    />
                    <input
                        type="submit"
                        value="Ta bort"
                        formaction="/recipes/{{ recipe._id }}/delete"
                    />
                </form>
            </div>
            {{/if}}
            <div class="divider"></div>

            {{#if loggedIn}}
            <div id="new-comment-wrapper">
                <span>Kommentera</span>
                <form
                    action="/recipes/{{ recipe._id }}/comments/add"
                    id="new-comment-form"
                    method="post"
                >
                    <textarea name="text" id="new-comment-text"></textarea>
                    <input type="submit" value="Lägg till" />
                </form>
            </div>
            <div class="divider"></div>
            {{/if}}

            <div id="recipe-comments">
                <span>Kommentarer</span>
                {{#each recipe.comments}}
                <div class="comment">
                    <div class="comment-user-info">
                        <div class="img-wrapper">
                            <img
                                src="https://cdn1.iconfinder.com/data/icons/people-job/100/Job-plus-35-512.png"
                            />
                        </div>
                        <a href="/users/{{ comment.userId }}"
                            ><span>{{ comment.username }}</span></a
                        >
                    </div>
                    <div class="comment-text-wrapper">
                        <form method="post">
                            <textarea class="recipe-comment-text" disabled>{{
                                comment.text
                            }}</textarea>

                            {{!-- THIS VALUE SHOULD BE SET BY A MIDDLEWARE THATS CURRENTLY MISSING --}}
                            {{!-- {{#if ownComment}} --}}
                            <input
                                type="button"
                                value="Redigera"
                                data-commentId="{{ comment._id }}"
                                class="enter-edit"
                            />

                            <input
                                type="button"
                                value="Klar"
                                class="finish-edit"
                            />

                            <input
                                type="submit"
                                value="Ta bort"
                                formaction="/recipes/{{ ../recipe._id }}/comments/remove/{{
                                    comment._id
                                }}"
                            />
                            {{!-- {{/if}} --}}
                        </form>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </main>
    {{>footer-home }}
</div>
