<div id="search-body">
    {{>header-home}}

    <div id="inner-wrapper">
        <div id="search-container-recipes">
            <h1 class="title">Hitta ett recept</h1>
            {{!-- Small searchfield --}}
            <div class="form-wrapper">
                <form action="/search" method="get" class="search-form-mini">
                    <input type="text" name="search" placeholder="Sök recept" />
                    <input class="search-btn" type="submit" value="Sök" />
                </form>
            </div>
            {{#each foundRecipes}}
            <div class="recipe">
                <a href="/recipes/{{ _id }}" class="name-wrapper">
                    <img
                        src="/assets/pasta2.jpeg"
                        alt="{{ name }}"
                        class="food-search"
                    />
                    <div>
                        <span>{{ name }}</span>
                    </div>
                </a>
                <p class="chef-wrapper">
                    {{#if chef.image}}
                    <img
                        class="chef-image"
                        src="{{ chef.image }}"
                        alt="{{ chef.username }}"
                    />
                    {{else}}
                    <img
                        class="chef-image"
                        src="/assets/yes.png"
                        alt="{{ chef.username }}"
                    />
                    {{/if}}
                    <a class="chef" href="/users/{{ _id }}">
                        {{ chef.username }}</a
                    >
                </p>
            </div>
            {{/each}}
        </div>
        {{!-- Second profile container --}}
        <div id="search-container-users">
            <div id="users-inner">
                <h1 class="title">Kockar</h1>
                {{#each foundUsers}}
                <a class="user-wrapper" href="/users/{{ _id }}">
                    <div class="img-wrapper">
                        {{#if image}}
                        <img
                            class="avatar-search"
                            src="{{ image }}"
                            alt="{{ username }}"
                        />
                        {{else}}
                        <img
                            class="avatar-search"
                            src="/assets/yes.png"
                            alt="{{ username }}"
                        />
                        {{/if}}

                        <span class="search-span">{{ username }}</span>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
    {{>footer-home }}
</div>
