<div id="search-body">
    {{>header-home}}

    <div id="search-container">
        <div id="search-container-top">
        <h1 id="search-recipe-h1">Hitta ditt recept</h1>
        </div>


    {{#each foundRecipes}}
    <div id="search-recipe-container">
        <div id="recipe-search-name">
        <p><a class="serach-Atag" href="/recipes/{{_id}}">{{name}}  </a></p>
        <p>{{image}}</p>
        </div>
        <p><a class="serach-Atag" href="/users/{{_id}}"> {{chef.username}}</a> </p>
    </div>
    {{/each}}
 </div>


